@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f0f2f5;
	font-size: 20px;
}

section {
	display: flex;
	align-content: center;
	gap: 10px;
}

form {
	height: 100vh;
	background-color: #2c3e50;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 20px;
	width: 400px;
}

form h2 {
	color: #4caf50;
}

form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

input {
	padding: 12px;
	border: none;
	border-radius: 5px;
	width: 100%;
	font-size: 16px;
}

label {
	color: #bdc3c7;
	font-size: 0.9rem;
}

form button {
	padding: 10px 25px;
	margin-top: 10px;
	cursor: pointer;
	background-color: #4caf50; border : none;
	border-radius: 5px;
	border: none;
}

form button:hover {
	background-color: #45a049;
}


table {
	width: 100%;
	border-collapse: collapse; 
	background-color: #ffffff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
	margin: 20px;
}

th {
	background-color: #4caf50;
	color: #ffffff;
	padding: 12px;
	text-align: left;
}

td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-align: start;
}


tr:hover {
	background-color: #f9f9f9; 
}

a {
	color: #45a049; 
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}